.__card {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: auto;
    align-content: center;
}

.__card_header {
    display: flex;
    flex-direction: row;
}



.__icon_title{
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}
.__icon_content {
    font-size: 1.2rem;
    text-align: center;

}
.__icon {
    background-color: #D23430;
    width:  50px;
    height: 50px;
    align-self: center;
}


